<div class="form">
  <div class="form-container">
    <form action="/room/create-room">
      <label for="room-pass">
        <h3 class="title">Crie sua própria sala</h3>
      </label>

      <input placeholder="Insira uma senha" type="password" id="room-pass" />

      <a class="button" href="#"
        ><img src="./images/img/users 2.svg" />Criar sala</a
      >
    </form>
  </div>
</div>
