<div class="form-container">
  <form action="#" method="POST">
    <label for="room-id">
      <h3 class="title">Entre como participante</h3>
    </label>

    <input placeholder="Código da sala" type="number" id="room-id" />

    <a class="button" href="#"
      ><img src="./images/img/log-in 1.svg" />Entrar na sala</a
    >
  </form>

  <div class="change-container">
    <div class="divider"></div>
    <p>ou</p>
    <div class="divider"></div>
  </div>

  <div class="room-creation">
    <h3 class="title">Crie sua própria sala, de forma fácil</h3>
    <a class="button-2" href="./create-pass">
      <img src="./images/img/users 1.svg" />Criar sala</a
    >
  </div>
</div>
